[Unit]
Description=Python Script Service
After=network.target

[Service]
ExecStart=/home/jailson/Imazon/dl_applications/source/01_selective_logging/03_inference_scene.py
Restart=always
User=jailson
WorkingDirectory=/home/jailson/Imazon/dl_applications/source/01_selective_logging

[Install]
WantedBy=multi-user.target
